$clr-neutral-1: rgb(255, 255, 255);
$clr-neutral-2: rgb(246, 246, 254);
$clr-neutral-3: rgba(212, 210, 244, 0.5);
$clr-solid-1: rgb(74, 77, 96);
$clr-solid-2: rgb(110, 114, 142);
$clr-solid-3: rgba(109, 114, 222, 1);
$clr-accent: rgba(105, 110, 221, 1);
$clr-accent-light: rgba(162, 167, 240, 1);
$ff-montserrat: 'Montserrat', sans-serif;