$clr-neutral-1: hsla(0, 0%, 100%, 1);
$clr-neutral-2: hsla(240, 78%, 98%, 1);
$clr-solid-1: hsla(232, 13%, 49%, 1);
$clr-accent: hsla(238, 63%, 64%, 1);
$clr-accent-light: hsla(237, 73%, 79%, 1);
$ff-montserrat: 'Montserrat', sans-serif;