@use "../abstracts/" as *;

body {
  background: $clr-neutral-2;
  padding-block: rem(64) rem(71);

  #svg-top,
  #svg-bottom {
    position: absolute;
  }

  #svg-top {
    top: -38px;
    right: -190px;
  }

  #svg-bottom {
    display: none;
  }

  @include breakpoint(md) {
    padding-block: rem(71);

    #svg-top {
      top: 0;
      right: 0;
    }

    #svg-bottom {
      display: block;
      left: 0;
      bottom: 0;
    }
  }
}
